<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">HR System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- HR Management Menu -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            HR Mgmt.
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">

                            <a href="@Url.Action("Index", "Employees")" class="nav-link ajax-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Employee Mgmt.</p>
                            </a>

                            <a href="@Url.Action("Index", "Departments")" class="nav-link ajax-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Department Mgmt.</p>
                            </a>

                            <a href="@Url.Action("Index", "DeductionComponents")" class="nav-link ajax-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Deduction Component</p>
                            </a>

                        </li>
                        <!-- Add more HR items here -->
                    </ul>
                </li>
                           </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
